{{ define "main" }}
<article class="justify-self-center mx-auto text-center prose dark:prose-invert prose-slate lg:prose-lg">
    <h1 class="font-serif font-extralight text-5xl welcome-headline">{{ .Title }}</h1>
    {{ .Content }}
</article>

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{- range $paginator.Pages }}
<div class="justify-self-center justify-center mx-auto rounded border-2 border-gray-800 bg-white mb-8 shadow-xl">
    <div class="bg-gray-800 max-w-none px-6 py-4 text-lg font-medium tracking-wide">
        <h1 class="text-white"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </div>
    <article class="prose prose-slate lg:prose-lg hover:prose-a:text-sky-500 max-w-none px-6 pt-6 pb-8">
        {{ .Content }}
    </article>
    <div class="flex justify-start px-6 pb-8 space-x-4">
        <div class="rounded bg-neutral-100 text-xs leading-tight text-neutral-500 px-3 py-2">
            Posted: {{ .Date.Format "2 Jan 2006" }}
        </div>
        <div class="rounded bg-neutral-100 text-xs leading-tight text-neutral-500 px-3 py-2">
            Tags:
            {{ range $i, $e := (.GetTerms "tags" )}}
                {{ if $i }}, {{ end }}
                <a href="{{ $e.Permalink }}" class="hover:text-gray-800">{{ $e.LinkTitle | upper }}</a>
            {{ end }}
        </div>
    </div>
</div>
{{- end }}

{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

<nav aria-label="page navigation" class="flex justify-center">
  <ul class="inline-flex rounded border-2 divide-x divide-gray-800 border-gray-800 bg-white shadow-xl">
    
    <!-- First page. -->
    {{ if ne $paginator.PageNumber 1 }}
    <li class="py-2 px-3 text-gray-800 transition-colors duration-150 focus:shadow-outline hover:bg-gray-100">
      <a class="" href="{{ $paginator.First.URL }}">
        ««
      </a>
    </li>
    {{ end }}

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li class="py-2 px-3 text-gray-800 transition-colors duration-150 focus:shadow-outline hover:bg-gray-100">
      <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
        «
      </a>
    </li>
    {{ end }}
  
    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}
    
      {{ $.Scratch.Set "page_number_flag" false }}

      
      <!-- Advanced page numbers. -->
      {{ if gt $paginator.TotalPages $max_links }}


        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {{ if le $paginator.PageNumber $lower_limit }}

          <!-- If the current loop page is less than max_links. -->
          {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {{ else if ge $paginator.PageNumber $upper_limit }}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Middle pages. -->
        {{ else }}
          
          {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        {{ end }}

      
      <!-- Simple page numbers. -->
      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li class="py-2 px-3 text-gray-800 transition-colors duration-150 focus:shadow-outline hover:bg-gray-100 {{ if eq . $paginator }} bg-gray-800 hover:bg-gray-700 text-white {{ end }}">
          <a href="{{ .URL }}">
            {{ .PageNumber }}
          </a>
        </li>
      {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li class="py-2 px-3 text-gray-800 transition-colors duration-150 focus:shadow-outline hover:bg-gray-100">
      <a href="{{ $paginator.Next.URL }}">
        »
      </a>
    </li>
    {{ end }}

    <!-- Last page. -->
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <li class="py-2 px-3 text-gray-800 transition-colors duration-150 focus:shadow-outline hover:bg-indigo-100">
      <a href="{{ $paginator.Last.URL }}">
        »»
      </a>
    </li>
    {{ end }}

  </ul><!-- .pagination -->
</nav>
{{ end }}

{{ end }}